
<%=image_tag("img4.jpg", class: "bkgnd")%>

<div class="row">
  <div class="large-6 large-offset-3 columns medium-6 medium-offset-3 columns small-4 columns about-box" style="z-index:1">
    <div class="title-box">
    <br>
    <br>
        <h3>the5questiontrip</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-4 large-offset-4 columns medium-4 medium-offset-4 columns small-4 columns about-box">
    <div class="blue-box" style="z-index:1">
      <div class="button-group">
        <% if user_signed_in? == false %>
          <li style="margin-left:-10%;" class="github large button"><%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %></li><br>
        <%else%>
           <li>What is your path this iteration ? </li>
        <%end%>
      </div>
    </div>
  </div>
</div>

<a href="#" data-reveal-id="firstModal" class="signinlinks rulestext"></a>

  <div id="firstModal" class="reveal-modal modal-box" data-reveal>
    <div class="row">
      <div class="large-12 small-4 medium-6 columns rules">
        <h3>Create Hunt</h3>
        <li>>> Choose your hunt location</li>
        <li>>> Enter your hunt name and description</li>
        <li>>> Enter 5 questions in the form of questions and addresses</li>
        <li>>> Enter descriptions and photos along with the questions</li>
        <li>>> A hunt is complete only when 5 questions are entered</li>
        <li>>> A hunt and a question are editable</li><br>
        <div class="row">
          <div class="large-10 large-offset-1 columns">
            <a href="#" data-reveal-id="secondModal"
            class="rules button" >PLAY</a>
          </div>
           <a class="close-reveal-modal">&#215;</a>
        </div>
      </div>
    </div>
  </div>

  <div id="secondModal" class="reveal-modal modal-box" data-reveal>
    <div class="row">
      <div class="large-12 small-4 medium-6 columns rules">
        <h3>Play Hunt</h3>
        <li>>> Answer the question by filling the box/clicking on location in map</li>
        <li>>> To proceed, answer in numerical order</li>
        <li>>> Answer all 5 questions and you win the itinerary !</li>
        <li>>> Play a hunt only once per signed in session</li><br>
        <div class="row">
          <div class="large-10 large-offset-1 columns">
            <a href="#" data-reveal-id="thirdModal"
            class="rules button">EDIT</a>
          </div>
          <a class="close-reveal-modal">&#215;</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-4 large-offset-5 small-4 small-offset-5 medium-4 medium offset-5 columns rulesnew">
      <a href="#" data-reveal-id="thirdModal">Navigation Instructions</a>
    </div>
  </div>
  <div class="row">
    <div class="large-10 large-offset-1 small-6 medium-8 columns rules">
      <div id="thirdModal" class="reveal-modal modal-box" data-reveal>
       <div class="row">
        <div class="large-12 small-4 medium-6 columns rules">
          <h3>Edit or Delete a Hunt</h3>
          <li>>> Click on Experience </li>
          <li>>> Click on the Infobox over the Location Marker on Map</li>
          <li>>> Click on Edit / Delete hunt</li><br>
           <h3>Edit a Question / Add a Question</h3>
          <li>>> Click on Experience</li>
          <li>>> Click on the infobox over the location marker on map</li>
          <li>>> Click on Add a Question / Edit question </li><br>
          <div class="row">
            <div class="large-10 large-offset-1 columns">
              <a href="#" data-reveal-id="firstModal"
              class="rules button">CREATE</a>
            </div>
           <a class="close-reveal-modal">&#215;</a>
          </div>
         </div>
       </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-6 large-offset-3 columns medium-6 medium-offset-3 columns small-4 small-offset-2 columns about-box" style="z-index:1">
    <div class="button-group">
    <li class="secondary large button"><%= link_to "EXPERIENCE", locations_path%></li>
    <li class="secondary large button"><%= link_to "CREATE", new_location_path%></li>
    </div>
  </div>
</div>

<br>
<br>
<section class="signin">
  <div class="large-12 columns" style="height:300px;margin-top:50%">
    <li class="isverysmall"> Boston buildings inspired by - Theresa Tibbot license  istockphoto. San Fransisco bridge inspired by avNY license shutterstock
    </li>
  </div>
</section>









