


<script type="text/javascript">
var my_hash = {"name":"Cities","children":[{"name":"Boston","children":[{"name":"Freedom Trail","children":[{"name":"Faneiul Hall","size":3938},{"name":"Boston Commons","size":3812},{"name":"King's Chapel","size":6714},{"name":"Bunker Hill","size":743}]},{"name":"Eat Boston","children":[{"name":"Wagamama","size":3534},{"name":"Dumpling King","size":5731}]},{"name":"Beantown Sports","children":[{"name":"Fenway","size":7074}]}]}]}
</script>
<div id="collapsibletree"></div>
<!-- <div id="body1" style="background-color:white;height:70%;width:100%">
      <div id="footer">
        d3.layout.tree
        <div class="hint">click or option-click to expand or collapse</div>
      </div>
    </div>-->
