<br>



  <div class="row">
    <div class="large-12 columns">

      <h3>Choose your hunt</h3>
        <%@hunts.each do|hunt|%>

          <li><%=hunt.name%></li>
           <li><%= link_to ">>", location_hunt_path(@location, hunt) %></li>


        <%end%>
        <h3> Create your hunt </h3>
        <li><%= link_to ">>", new_location_hunt_path(@location) %></li>


    </div>
  </div>


